name: Build (Android)

on:
  pull_request:
    branches: ["main"]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: "armv7-linux-androideabi, i686-linux-android, aarch64-linux-android, x86_64-linux-android"
      - name: Retrieve cache
        uses: Leafwing-Studios/cargo-cache@v2
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: 23
          distribution: temurin
          cache: gradle
      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
      - name: Setup Android NDK
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r27c
          link-to-sdk: true
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Build with Gradle
        run: |
          cd ./languages/kotlin
          chmod +x ./gradlew
          ./gradlew build
