name: Build & Test

on:
  workflow_dispatch:
  pull_request:
    branches: [ "main", "dev" ]
  schedule:
    - cron: "23 3 * * *"
env:
  CARGO_TERM_COLOR: always
jobs:
  build:
    runs-on: ubuntu-latest
    environment: testing
    concurrency:
      group: testing
      cancel-in-progress: true
    env:
      SSO_ID: ${{ vars.SSO_ID }}
      SSO_PASSWORD: ${{ secrets.SSO_PASSWORD }}
      TARGET_YEAR: ${{ vars.TARGET_YEAR }}
      TARGET_SEMESTER: ${{ vars.TARGET_SEMESTER }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Retrieve cache
        uses: Leafwing-Studios/cargo-cache@v2
        with:
          cache-group: build
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
