name: Lint

on:
  workflow_dispatch:
  pull_request:
    branches: [ "main", "dev" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy, rustfmt
      - name: Retrieve cache
        uses: Leafwing-Studios/cargo-cache@v2
        with:
          cache-group: build
      - name: Check rustfmt
        run: cargo +nightly fmt
      - name: Check clippy
        run: cargo +nightly clippy -- -D warnings